# Dependencies
node_modules/
.pnp
.pnp.js

# Python cache
__pycache__/
*.pyc

# Local backups & mocks
backup_site_v*/
mock_site/

# Testing & Artifacts
coverage/
.nyc_output

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS & Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
